<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cs.database.activatemanage.dao.ActivationMapper">

    <insert id="insert">
        INSERT INTO `Activation`(activation_num, user_num, code_num, func_num, ainfo_num, userlog_num)
        VALUES (#{activation_num}, #{user_num}, #{code_num}, #{func_num}, #{ainfo_num}, #{user_num})
    </insert>
    <update id="setuserlog_numByactivation_num">
        update `Activation`
        set userlog_num=#{userlog_num}
        where `Activation`.activation_num = #{activation_num}
    </update>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from `Activation`
    </select>


</mapper>
