<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cs.database.activatemanage.dao.InitiateMapper">

    <update id="setadmin_num_twoForInitiateByinitiate_num">
        UPDATE `Initiate`
        SET `Initiate`.`admin_num_two` = #{admin_num_two}
        WHERE `Initiate`.`initiate_num` = #{initiate_num};
    </update>

    <insert id="insert">
        INSERT INTO `Initiate`(initiate_num, admin_num_one, admin_num_two, change_num, adminlog_num)
        VALUES (#{initiate_num}, #{admin_num_one}, #{admin_num_two}, #{change_num}, #{adminlog_num});
    </insert>
    <insert id="insertOnceAdminInitiate">
        INSERT INTO `Initiate`(initiate_num, admin_num_one, admin_num_two, change_num, adminlog_num)
        VALUES (#{initiate_num}, #{admin_num_one}, NULL, #{change_num}, #{adminlog_num});
    </insert>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from `Initiate`
    </select>

</mapper>
