<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cs.database.activatemanage.dao.TrustMapper">
    <insert id="insert">
        INSERT INTO `Trust`(trust_num, root_num, admin_num, adminlog_num)
        VALUES (#{trust_num}, #{root_num}, #{admin_num}, #{adminlog_num})
    </insert>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*)
        from `Trust`
    </select>


</mapper>
